#btnC2C {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 60px;
    border-radius: 45px 45px 45px 45px;
    padding: 13px 15px 13px 15px;
    font-size: 20px;
    background-color: green;
  }